<ion-header>
  <ion-toolbar>
    <ion-title>
      Rental Details
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-grid>
          <ion-row>
            <!-- <ion-col *ngIf="currentProperty"> -->
            <ion-col>
              <ion-card (click) = "navToEdit()">
                <ion-card-header>
                  <ion-card-subtitle>Click to edit</ion-card-subtitle>
                <ion-card-title>{{rental.location}}</ion-card-title>
              </ion-card-header>
            
                <ion-card-content>
                  {{rental.rentReview}}
                  <img  class = "displayed"  src={{rental.picture}}>

                  <div ion-padding> 
                    <ion-item ion-padding>Rental Details</ion-item>
                  </div>
                  <ion-list ion-padding>
                    <ion-item>
                      <ion-note class>Accomodation: {{rental.name}}</ion-note>
                    </ion-item>
                    <ion-item>
                      <ion-note>Price: ${{rental.price}}/night</ion-note>
                    </ion-item>
                    <ion-item>
                        <ion-note>Available!</ion-note>
                        <!-- <ion-note *ngIf="currentProperty.avail">Available!</ion-note>
                        <ion-note *ngIf="!currentProperty.avail">Not Available, check back next time!</ion-note> -->
                    </ion-item>
                  </ion-list>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
      </ion-grid>
      <h2 class ="ion-padding">Booking Requests</h2>
      <ion-list>
        <ion-item *ngFor="let booking of bookingList">
          <ion-label><ion-text color = "primary" class = "sender">Sender ID: {{booking.userid}}</ion-text> </ion-label>
          <ion-text color = "primary">Dates: {{booking.datefrom}}-{{booking.dateto}}</ion-text> 
        </ion-item>
      </ion-list>
      <div>
          <h3 class = "ion-padding">That's it!</h3>
      </div>
      

</ion-content>

