<ion-header>
  <ion-toolbar>
    <ion-title>
      Create Rentals
    </ion-title>
    <ion-item slot = "end" href="">
        <ion-title >Logout</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h3>Let's turn another house into a home.</h3>
        </div>
        <div padding>
            <ion-item>
                <ion-label color = "primary" position = "stacked">Name</ion-label>
                <ion-input type="text" placeholder="Name" [(ngModel)] ="rental.name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color = "primary" position = "stacked">Location</ion-label>
              <ion-input type="text" placeholder="Location" [(ngModel)] ="rental.location"></ion-input>
            </ion-item>
            <!-- <ion-item>
              <ion-label position = "stacked">Location</ion-label>
              <ion-input type="text" placeholder="Address"></ion-input>
            </ion-item> -->
            <!-- need to figure out why price automatically goes to 0 -->
            <ion-item>
              <ion-label color = "primary" position = "stacked">Price</ion-label>
              <ion-input type="text" [(ngModel)] = "rental.price" placeholder="Price" ></ion-input>
            </ion-item>
            <!-- <ion-item>
              <ion-label position = "stacked">Review</ion-label>
              <ion-input type="text" placeholder="Review"></ion-input>
            </ion-item> -->
            <ion-item>
              <ion-label color = "primary" position = "stacked">Picture Link</ion-label>
              <ion-input type="text" placeholder="Picture Link" [(ngModel)] ="rental.picture"></ion-input>
            </ion-item>
            
        </div>
      </ion-col>

    </ion-row>
    
  </ion-grid>
  <ion-button size="large" (click) = "submit()">Create Home</ion-button>
</ion-content>