<ion-header>
  <ion-toolbar>
    <ion-title>
      Manage Existing Rentals
    </ion-title>
    <ion-item slot = "end" href="">
      <ion-title >Logout</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Let's manage those houses.</ion-card-subtitle>
        <ion-card-title>Welcome home!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>See your existing rentals below. Click the tabs in order to navigate to create new rentals or edit rental information.</p>
      </ion-card-content>
    </ion-card>
    <ion-title>Existing Rentals</ion-title>
      <ion-grid>
          <ion-row>
            <ion-col *ngFor="let rental of rentalList">
              <ion-card (click)="navToProperty(rental)">
                <ion-card-header>
                  <ion-card-subtitle>Manage Your Rentals</ion-card-subtitle>
                <ion-card-title>{{rental.location}}</ion-card-title>
              </ion-card-header>
            
                <ion-card-content>
                  <!-- {{rental.rentReview}} -->
                  <img  class = "displayed"  src={{rental.picture}}>

                  <div ion-padding> 
                    <ion-item ion-padding>Click to view details.</ion-item>
                  </div>
                  
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
      </ion-grid>
 
</ion-content>
